<div id="register" class="container">
    <div class="row">
        <div class="col">
            <div class="row ">
                <div class="mt-2  mr-5  col text-center logo">
                    <h4 class="d-flex justify-content-center logo-title"><img src="../../../../assets/images/shopping-bag 1.svg" ><span>Glamora</span></h4>
                </div>
                <div class=" text-center ">
                    <div class="col text-center">
                        <p class="mt-1 text-register" style="color: black;">Register for an Account</p><div></div>
                    </div>
                    <form  [formGroup]="registerForm" (ngSubmit)="register()">
 
                        <div class="d-flex justify-content-center  form-group mt-3">
                            
                            <input id="input" class=" form-control " [ngClass] ="{'is-invalid': fc['name'].errors&& isSubmitted}"  name="name" placeholder="Full Name" type="text" formControlName="name" >
                        
                        </div>

                        <div class="text-error" *ngIf = "fc['name'].errors&& isSubmitted">                  
                            <p class="err-Msg" *ngIf="fc['name'].errors['required']">*Full Name is required</p>
                            <p class="err-Msg" *ngIf="fc['name'].errors && !fc['name'].errors['required']">*Please enter a valid full name</p>
                        </div>
 
                        <div class="d-flex justify-content-center  form-group mt-3">
                            <input id="input1" class=" form-control " [ngClass] ="{'is-invalid': fc['email'].errors&& isSubmitted}"  name="email" placeholder="Email" type="email" formControlName="email" >
                            
                        </div>
                        <div class="text-error" *ngIf = "fc['email'].errors&& isSubmitted">                  
                            <p class="err-Msg" *ngIf="fc['email'].errors['required']">*Email is required</p>
                            <p class="err-Msg" *ngIf="fc['email'].errors && !fc['email'].errors['required']">*Please enter a valid email</p>
                        </div>
                         

                        <div class="d-flex justify-content-center form-group mt-3">
                                <input id="input2" class="form-control " [ngClass] ="{'is-invalid': fc['password'].errors&& isSubmitted}" name="password"  placeholder="Password" type="password" formControlName="password">                                 
                        </div>
                        <div class="text-error" *ngIf = "fc['password'].errors&&isSubmitted">                  
                            <p class="err-Msg" *ngIf="fc['password'].errors['required']">*Password is required</p>
                            <p class="err-Msg" *ngIf="fc['password'].errors && !fc['password'].errors['required']">*Password must be at least 8 characters long</p>
                        </div>
 
                        <div class="d-flex justify-content-center form-group mt-3">
                             <input id="input3" class="form-control " name="confirmPassword" [ngClass] ="{'is-invalid': fc['confirmPassword'].errors&& isSubmitted}"  placeholder=" Re-Type Password" type="password" formControlName="confirmPassword">
                        </div>


                        <div class="text-error" *ngIf = "fc['confirmPassword'].errors&&isSubmitted">                  
                            <p class="err-Msg" *ngIf="fc['confirmPassword'].errors['required']">*R-Type Password is required</p>
                            <p class="err-Msg" *ngIf="!fc['confirmPassword'].errors['required']&&fc['confirmPassword'].errors['notMatch']">*Passwords do not match</p>

                        </div>
                        <!-- <div class="text-error">
                            <p class="err-Msg">*Password is required</p>
                        </div> -->

                        <div class="d-flex justify-content-center "  >
                        <button type="submit" class="btn mt-3" style="background-color: rgb(219, 48, 34); color: rgb(255, 255, 255); ">Register</button>
                       </div>
                          <p class=" mt-3 acc " style="color: black;"> Already have a account?<a  routerLink="/login" [queryParams]="{returnUrl: returnUrl}" style="text-decoration: none;"> <span style="color: rgb(219, 48, 34);  "> Login</span></a>
                        </p>
                    </form>

                    <div class="spinner-container" *ngIf="authService.loading">
                        <app-spinner></app-spinner>
                    </div>
                </div>
            </div>
        </div>