
<header id="Home" class="vh-100">
  <div class="header-content d-flex justify-content-center align-items-center flex-column">
    <div class="new-animation w-100 py-4 d-flex flex-column mb-4">
    

      <div class="animation-final">
        <h3 class="text-white"></h3>
      </div>
    </div>

    <div class="header-nav text-white d-flex mt-3">
      <div class="mx-1 icon d-flex justify-content-center align-items-center rounded-circle">
        <i class="fa-brands fa-facebook-f fa-1x"></i>
      </div>
      <div class="mx-1 icon d-flex justify-content-center align-items-center rounded-circle">
        <i class="fa-brands fa-instagram fa-1x"></i>
      </div>
      <div class="mx-1 icon d-flex justify-content-center align-items-center rounded-circle">
        <i class="fa-brands fa-linkedin fa-1x"></i>
      </div>
      <div class="mx-1 icon d-flex justify-content-center align-items-center rounded-circle">
        <i class="fa-brands fa-twitter fa-1x"></i>
      </div>
      <div class="mx-1 icon d-flex justify-content-center align-items-center rounded-circle">
        <i class="fa-brands fa-youtube fa-1x"></i>
      </div>
    </div>
  </div>
</header>

<section>

  <div class="baba  p-2 d-flex justify-content-center">
    <header class="text-center">

      <p class="small color lead small text-uppercase mb-1">
        Carefully created collections
      </p>
      <h2 class="h5 text-uppercase mb-4">Browse our categories</h2>
    </header>
  </div>

  <div class="container">
    <div class="py-5">
      <input
        [formControl]="termControl"
        placeholder="Search Category"
        class="form-control w-50 shadow-lg"
        type="text"
        name=""
      />
    </div>
    <div class="row g-5">
      <div
        class="mother col-md-4 p-2 border-0"
        *ngFor="let item of filteredProducts; let i = index">
        <div class="child shadow rounded-4">
          <div class="img-parent  w-100 mb-4 rounded-4">
            <!-- <a class="category-item" [routerLink]="'/product/' + item._id" -->
            <a
              class="category-item"
              [routerLink]="'/categories/' + item._id + '/products'"
              ><img class="w-100" src="assets/images/{{ item.image }}" alt=""
            /></a>
          </div>
          <!-- <p class="lorem fw-bolder ">{{ item.name }}</p> -->
        </div>
      </div>
    </div>
  </div>
</section>
