.mother img{
    transition: transform 1.5s;
}
.mother:hover img {
    transform: scale(1.1,1.1);

}
.img-parent:hover img{
    transform: scale(1.2,1.2);
}
.img-parent img{
    transition: transform 1s;
   
}
.img-parent{
    overflow: hidden;
}
.baba p::after{
    content: '';
    position: absolute;
    width: 50px;
    height: 5px;
    background-color:var(--main-color);
    top: 130%;
    left: 41%;

}
.lorem{
    font-size: 1rem;
}
.plus{
    color: var(--main-color);
}

.width{
    width: 10%;
}