.parent-all-products-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
  /* width: 100% !important; */
  /* background-color: blue; */
}
.classorange{
  background-color:#8ecae6;
  ;
}
.classorange:hover{
  opacity: 0.7;
}