<div class="">
  <div class="parent-all-products-container" *ngIf="!loading">
    <div *ngFor="let item of products">
      <app-product [data]="item" (item)="addtocart($event)"></app-product>
    </div>
  </div>
  <div class="text-center w-100" *ngIf="loading">
    <app-spinner></app-spinner>
  </div>
  <div class="text-center mt-3" *ngIf="totalPages > 1">
    <button class="btn btn-primary m-4 rounded-circle bg-secondary" [disabled]="currentPage === 1" (click)="previousPage()">
      <i class="fas fa-chevron-left text-white"></i>
    </button>
    <button class="btn classorange rounded-circle " [disabled]="currentPage === totalPages" (click)="nextPage()">
      <i class="fas fa-chevron-right text-white"></i>
    </button>

  </div>
</div>
