<div class="item">
  <div class="hov"></div>
  <div class="parent-img">
    <img src="{{ data.images[0] }}" alt="" class="img" />
    <!-- <img src="{{ data.images[0] }}" alt="" class="image" /> -->
  </div>
  <div class="body">
    <h4>{{ data.name }}</h4>
  </div>
  <div class="aaa" (load)="looop()">
    <!-- <div class="addProducts" *ngIf="!addButton" (click)="addButton = true">
      Add to cart
    </div> -->
    <span>{{ data.price }}$</span>
    <div class="view" (click)="onview(data.id)">view</div>
    <!-- *ngIf="addButton" addButton = false -->
   <div class="d-flex gab-3 w-50" >
      <!-- <input type="number" class="form-control" (ngModel)="amount" /> -->
      <button class="btn text-white  classorange rounded-square" (click)="add(); ">
        <i
        class="fas fa-dolly-flatbed  text-gray"></i>
        Add to cart
      </button>
      <!-- <button class="btn btn-primary rounded-square bg-secondary" (click)="addCart()">Confirm</button> -->
    </div>
  </div>
</div>
